h1{
    color: aqua;
    border : 2px dashed royalblue;
    font-size: 9rem;
    padding: 0.01em;
    width: 500px;
    border-top: 2px solid yellow;
    outline: 2px solid gold;
    outline-offset: -10px;
    border-radius: 20px;
}


.container{
    border: 2px inset red;
    font-size: 5rem;
    padding: 0.1em;
    margin: 1em;
    text-align: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
